   * {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }

  html, body {
    margin: 0;
    height: 0%;
  }
 
  body {
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0.2)), url('https://source.unsplash.com/featured/?landscape');
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0.2)), url('https://c8.alamy.com/comp/2BGGXN9/weather-forecast-concept-background-variety-weather-conditions-and-seasons-bright-sun-and-blue-sky-dark-stormy-sky-with-lightnings-2BGGXN9.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
  }

  .title {
    text-align: left;
    padding: 15px 10px;
    font-size: 0.9rem;
    font-weight: 600;
    color: black;
  }

  h4 {
    font-family:monospace;
    margin-left: 0;
    padding-left: 10px;
    font-size: 1.3rem;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #comments-list {
    list-style-type: none;
    margin-right: 20px;
    padding-left: 1100px;
    font-size: 30px;
    text-align: center;
  }
 
  .comment-form {
    width: 300px;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(0, 204, 255, 0.678));
    display: block;
    margin: 0 auto;
    border-radius: 10px;
   
    /* text-align: center;
    margin-bottom: 100px;
    margin-right: 20px;
    padding-bottom: 200px;
     */
  }

  .comment-input {
    margin-bottom: 10px;
    border: none;
    font-size: 0.9rem;
  } 

  #citySubmit {
    font-family: monospace;
    border: none;
    font-size: 0.8rem;
    font-weight: 600;
    color: darkgreen;
    cursor: pointer;
    transition: color 100ms;
  }

  #citySubmit:hover {
    font-family: monospace;
    color: red;
}
 
  #citySubmit:active {
    color: blue;
  }

  .comment-button {
    font-family: monospace;
    border: none;
    font-size: 0.8rem;
    font-weight: 600;
    color: darkgreen;
    cursor: pointer;
    transition: color 100ms;
  }
